.course--content .block-options {
    visibility: hidden;
}

.course--content:hover .block-options {
    visibility: visible;
}

.block-options {
    float: right;
}

.block-options > i {
    display: block;
    margin-top:10px;
    cursor: pointer;

}

.course--info {
    width: 90%;
    display: inline-block;
}

.kitty-dialog {
    font-family: "Source Sans Pro",sans-serif !important;
}

.kitty-dialog .ui-dialog-titlebar {
    background: #767676;
    border: none;
    color: #FFF;
    padding: 10px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 20px !important;
}

#dialog-form {
    font-weight: normal;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-dialog-buttonset button {
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    height: 40px;
}

.ui-dialog-buttonset button:first-child {
    background: #B53737;
    border-radius: 5px;
    color: #fff;
    border: none;
}

.ui-widget-overlay {
    opacity: .30;
    filter: Alpha(Opacity=30);
}