<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Log in</title>
    <link type="text/css" href="css/app.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  </head>
  <body>

  <div class="top-bar row expanded" id="responsive-menu">
    <div class="columns  large-7 large-offset-1 top-bar-left">
      <ul class="dropdown menu data-dropdown-menu">
        <li class="menu-text"><h2>Kitty Professor</h2></li>
      </ul>
    </div>
    <div class="top-bar-right columns large-4">
      <ul class="menu">
        <li> <a href="#" class="logged--as" th:text="${session.userName}"/></li>
        <li>
          <form action="#" th:action = "@{/logout}" method = "post">
            <input type="submit" name="logout" value="logout" class="button btn--primary right" />
          </form></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <div class="main--content">

        <div class="row  data-equalizer" data-equalize-by-row="true" th:each="user : ${users}">
          <div class="column large-4  add--course course--added data-equalizer-watch"
               data-open="exampleModal1">
            <div class="course--content">
              <div class="prompt--add">Click here to add a new course</div>
              <div class="course--heading">
                <div class="course--info">
                  <span th:text="*{user.username}"/>
                </div>
                <div class="block-options" >
                  <i class="fa fa-edit edit-user-icon"
                     th:attr="data-username=*{user.username},
                     data-role=*{user.joinAs}"></i>
                  <i class="fa fa-trash delete-user-icon"
                     th:attr="data-username=*{user.username}"></i>
                </div>
              </div>
              <div class="course--details">
                <div class="hw--info">
                  <p th:text="'role :' + *{user.joinAs}"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="edit-user-dialog" title="Change user role">
    <form id="editUser" action="#" th:action="@{/editUser}" th:object="${editUser}" method="post">
      <p>Name:      <input type="text" th:field="*{username}" /></p>

      <p>Role:      <select th:field="*{joinAs}" name="joinAs">
                      <option value="instructor" >Instructor</option>
                      <option value="student">Student</option>
                    </select>
      </p>
    </form>
  </div>
  <div id="delete-user-dialog" title="Delete Assignment">
    <p>All the information about this user will be deleted.
      Do you want to continue?
    </p>
    <form th:action="@{/deleteUser}" id="deleteUser" th:object="${deleteUser}" method="post">
      <input type="hidden" th:field="*{username}"/>
    </form>
  </div>

  <script type="application/javascript">
      function editUser() {
          $("#editUser").submit();
      }

      function deleteUser() {
          $("#deleteUser").submit();
      }

      deleteDialog = $( "#delete-user-dialog" ).dialog({
          autoOpen: false,
          height: 200,
          width: 600,
          modal: true,
          dialogClass: "kitty-dialog",
          resizable: false,
          draggable: false,
          buttons: {
              "Delete": deleteUser,
              Cancel: function() {
                  deleteDialog.dialog( "close" );
              }
          },
          open: function(event, ui) {
              $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
          }
      });

      editDialog = $( "#edit-user-dialog" ).dialog({
          autoOpen: false,
          height: 500,
          width: 600,
          modal: true,
          dialogClass: "kitty-dialog",
          resizable: false,
          draggable: false,
          buttons: {
              "Update": editUser,
              Cancel: function() {
                  editDialog.dialog( "close" );
              }
          },
          open: function(event, ui) {
              $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
          }
      });
      $(".edit-user-icon").on("click", function() {
          $("#editUser [name='username']").val($(this).attr("data-username"));
          $("#editUser [name='joinAs'] option[value="+$(this).attr("data-role")+"]").attr("selected", "selected");
          editDialog.dialog("open");
      });

      $(".delete-user-icon").on("click", function() {
          $("#deleteUser [name='username']").val($(this).attr("data-username"));
          deleteDialog.dialog("open");
      });

  </script>

      <footer>
  <div class="row expanded footer">
    <div class="columns">
      <div class="footer--links">
        <a href="#">
          Feedback
        </a>
        <a href="">
          Contact us
        </a>
      </div>

    </div>
  </div>
  </footer>
  </body>
</html>
