<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
            <meta http-equiv="x-ua-compatible" content="ie=edge"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <title>New Course</title>
            <link rel="stylesheet" href="css/app.css" type="text/css"/>
</head>

<body>
<div th:if="${session.role} == 'instructor'">
    <form action="#" th:action="@{/addcourses}" th:object="${course}" method="post">
        <p>Id: <input type="text" th:field="*{courseCode}" /></p>
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Term: <input type="text" value="spring18" disabled="true"/></p>
        <input type="hidden" th:field="*{numAssignments}" th:value="0"/>
        <input type="hidden" th:field="*{numStudents}" th:value="0"/>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>

<div th:if="${session.role} == 'student'">
    <form action="#" th:action="@{/addCoursesStudent}" th:object="${course}" method="post">
        <p>Select Course:
            <select th:field="${course.id}">
                <option th:each="course : ${allCourses}"
                th:value="${course.id}"
                th:utext="${course.name}"/>
            </select>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </p>
    </form>
</div>

<div class="top-bar row expanded" id="responsive-menu">
    <div class="columns  large-7 large-offset-1 top-bar-left">
        <ul class="dropdown menu data-dropdown-menu">
            <li class="menu-text"><h2>Kitty Professor</h2></li>
        </ul>
    </div>
    <div class="top-bar-right columns large-4">
        <ul class="menu">
            <li> <a href="#" class="logged--as" th:text="${session.userName}"/></li>
            <li>
            <form action="#" th:action = "@{/logout}" method = "post">
                <input type="submit" name="logout" value="logout" class="button btn--primary right" />
            </form></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="columns">
        <div class="main--content">
            <h2 class="inner--heading"> Courses</h2>
            <div class="row  data-equalizer" th:each="course : ${courses}" data-equalize-by-row="true">
                <div class="column large-4  add--course course--added
                data-equalizer-watch"  data-open="exampleModal1" th:onclick="'assignments('+${course.id} + ')'">
                    <div class="course--content">
                        <div class="prompt--add">Click here to add a new course</div>
                        <div class="course--heading">
                            <div class="course--info"><span th:text="${course.courseCode} + '|' + ${course.name}"/></div>
                        </div>
                        <div class="course--details">
                            <div class="hw--info">
                                <p th:text="${course.numAssignments} + 'Assignments'" />

                                <p th:if="${session.role} == 'instructor'" th:text="${course.numStudents} + 'Students'"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${session.role} == 'instructor'">
                <div class="column large-4  add--course  data-equalizer-watch"  data-open="exampleModal1">
                    <div class="course--content">
                        Click here to add a new course
                    </div>
                </div>
            </div>
            <div th:if="${session.role} == 'student'">


            </div>
        </div>
    </div>

</div>


<footer>
    <div class="row expanded footer">
        <div class="columns">
            <div class="footer--links">
                <a href="#">
                    Feedback
                </a>
                <a href="">
                    Contact us
                </a>
            </div>

        </div>
    </div>
</footer>
<script src="node_modules/jquery/dist/jquery.js" type="application/javascript"></script>
<script src="node_modules/what-input/dist/what-input.js" type="application/javascript"></script>
<script src="node_modules/foundation-sites/dist/js/foundation.js" type="application/javascript"></script>
<script src="static/js/app.js"></script>

<script type="application/javascript">
function assignments(courseID) {

}

</script>
</body>
<body>

</body>
</html>