<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Assignment Prof</title>
    <link rel="stylesheet" href="css/app.css" type="text/css"/>
</head>
<body>

<div class="top-bar row expanded" id="responsive-menu">
    <div class="columns  large-7 large-offset-1 top-bar-left">
        <ul class="dropdown menu data-dropdown-menu">
            <li class="menu-text"><h2>Kitty Professor</h2></li>
        </ul>
    </div>
    <div class="top-bar-right columns large-4">
        <ul class="menu">
            <li> <a href="#" class="logged--as" th:text="${session.userName}"/></li>
            <li>
                <form action="#" th:action = "@{/logout}" method = "post">
                    <input type="submit" name="logout" value="logout" class="button btn--primary right" />
                </form></li>
        </ul>
    </div>
</div>

<div th:if="${session.role} == 'student'">
<form id="submission-form" action="#" th:action="@{/addSubmissions}" th:object="${submission}" method="post">
    <input type="hidden" th:field="*{assignmentId}" />
    <input type="hidden" th:field="*{submissionNum}" />
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</div>

<div class="row">
    <div class="columns">
        <div class="main--content">
            <h2 class="inner--heading">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs innerpage--breadcrumbs">
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">CS5500 | Managing Software Development</a></li>
                        <li>
                            <span class="show-for-sr">Current: </span> Submissions
                        </li>
                    </ul>
                </nav>
            </h2>
            <div class="row  data-equalizer" data-equalize-by-row="true" th:each="submission : ${submissions}">
                <div class="column large-4  add--course course--added data-equalizer-watch"  data-open="exampleModal1">
                    <div class="course--content">
                        <div class="prompt--add">Click here to add a new course</div>
                        <div class="course--heading">
                            <div class="course--info"><span th:text="*{submission.submissionNum}"/></div>
                        </div>
                        <div class="course--details">
                            <div class="hw--info">
                                <div th:if="${session.role} == 'student'">
                                    <div><span th:text="*{submission.submissionNum}"/></div>
                                    <form method="POST" enctype="multipart/form-data" action="#" th:action="@{/upload}">
                                        <input type="hidden" name="submissionId" th:value="*{submission.submissionId}"/>
                                        <input type="file" name="file" />
                                        <input type="submit" value="Upload" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>

<footer>
    <div class="row expanded footer">
        <div class="columns">
            <div class="footer--links">
                <a href="#">
                    Feedback
                </a>
                <a href="">
                    Contact us
                </a>
            </div>

        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script type="application/javascript">
    $("#submission-form").submit(function(e){
        e.preventDefault();
        var url = $(this).attr('action');
        var data = $(this).serialize();
        $.ajax({
            url: url,
            type: "post",
            data: data,
            success: function(){
                location.reload();
            }
        });
    })
</script>
</body>
</html>